header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.mb-4{
    margin: 0 auto;
    min-height: 200px;
    min-width: 20%;
}

.list-unstyled{
    /*background-image: url('images/phone_2.jpg');*/
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 150px 150px;
}
.list-unstyled li{
    color: navy;
}
.content-container{
    width: 100%;
    /*min-height: calc(100vh - 113px);*/
    min-height: calc(100vh - 40px);
    padding-top: 57px;
}

.availability{
    color: #007bff;
    background-color: white;
}
.no_availability{
    color: #dc3545;
    background-color: white;
}
.product_image{
    /*background-image: url('images/phone_1.jpg');*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
    min-height: 350px;
}
.margin-vert-30{
    margin: 30px 0px;
}
.sort_block{
    text-align: center;
    margin-bottom: 2rem;
}
#products_in_cart{
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .content-container{
        padding-top: 121px;
    }
}
